/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Style CSS */
body {
	font-family: monospace, monospace;
	background-color: #313131;
}
p { color: #eaeaea; }

html body a {
	color: #eaeaea;
	text-decoration: none;
	display: inline-block;
}

html body a:hover {
	color: lightskyblue;
}

.navbar {
	width: 100%;
	height: 60px;
	border-bottom: 1px solid grey;
	position: fixed;
	top: 0;
	background-color: #313131;
	box-sizing: border-box;
	padding: 20px;
}

.navbar .home{
	float: left;
	font-size: 20px;
	font-family: monospace, monospace;
	font-weight: bold;
	color: #eaeaea;
}

.navbar ul li {
	display: inline-block;
	float: right;
	margin: 0 10px;
	font-weight: bold;
}

.navbar ul li a:hover { 
	color: white;
	padding-bottom: 10px;
	border-bottom: 2px solid #eaeaae;
}

.navbar ul li a:active {
	background-color: transparent;
	color: dimgrey;
	padding-bottom: 10px;
	border-bottom: 2px solid dimgrey;
}
.container {
	margin: auto;
	width: 800px;
}

.header {
	margin-top: 100px;
	font-family: monospace, monospace;
	font-size: 50px;
	color: #eaeaea;
	text-align: center;
	border-left: 2px solid #eaeeae;
	border-right: 2px solid #eaeeae;
}

.header p {
	margin-top: 7px;
	font-size: 15px;
}

.content {
	margin-top: 50px;
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
	padding: 20px;
}

.content h4 {
	margin: 10px 0 0 0;
	font-size: 18px;
	color: #eaeaea;
	border-bottom: 1px solid grey;
	display: inline-block;
}

.post {
	width: 100%;
	overflow: auto;
}

.footer {
	margin: 20px 0;
	text-align: center;
	font-size: 13px;
}

/*	Clearfix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

@media (max-width: 1000px) {
	.container {
		width: 640px ;
	}

	.content h4 {
		font-size: 16px;
	}
}

@media (max-width: 720px) {
	.container {
		width: 500px;
	}

	.content h4 {
		font-size: 14px;
	}

}

@media (max-width: 640px) {
	.navbar {
		height: 50px;
		padding: 16px;
	}

	.navbar .home	{
		font-size: 15px;
	}

	.navbar ul li a {
		font-size: 15px;
	}

	.navbar ul li a:hover {
		padding-bottom: 6px;
	}

	.container {
		width: 100%;
		margin-top: 80px;
	}

	.header {
		margin: 0 10px 20px 0;
		font-size: 30px;

	}

	.header p {
		font-size: 10px;
		margin-top: 5px;
	}

	.content {
		margin: 10px;
	}
}

/*CSS Post*/

h1, h2, p, div {
	color: #eaeaea;
}

.matchBox {
	display: flex;
	justify-content: center;
}

.match {
	margin-top: 10px;
	margin-right: 7px;
	padding-top: 20px;
	border: 1px solid #eaeaea;
	width: 200px;
	height: 270px;
	text-align: center;
	border-radius: 5px;
}
.match h2 {
	font-size: 25px;
	font-weight: bold;
}

.result {
	margin-top: 92px;
	margin-bottom: 92px;
	margin-left: 7px;
	padding: 20px 10px;
	border: 1px solid #eaeaea;
	width: 200px;
	height: 80px;
	text-align: center;
	border-radius: 5px;
}

.result h1 {
	font-size: 25px;
	font-weight: bold;
}

#player, #kamu, #bot {
	display: inline-flex;
	justify-content: center;
	margin : 5px 5%;
}

#kamu, #bot {
	font-size: 50px;
}




.choice {
	margin: 20px 15px;
	display: flex;
	justify-content: center;
	align-items: center;	
}

.option {
	margin: 0 10px;
	width: 30%;
	padding: 25px;
	background-color: dimgray;
	text-align: center;	
	border-radius: 5px;
	font-size: 150%;
}
.option:hover {
	cursor: pointer;
	background-color: #424242;
	transition: cubic-bezier(0.215, 0.61, 0.355, 1) ease-in-out;
	transform: scale(105%);
	font-size: 155%;
}

.option:active {
	background-color: dimgray;
}

@media (max-width: 640px){
	.match h2 {
		font-size: 20px;
	}
	
	.result {
		font: 12px/16px monospace,monospace;
	}
}
