/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Style CSS */
body {
	font-family: monospace, monospace;
	background-color: #0d1117;
}
p, h5, li{ color: #eaeaea; }

html body a {
	color: #eaeaea;
	text-decoration: none;
	display: inline-block;
}

html body a:hover {
	color: lightskyblue;
}

html body .article .isi a {
	font-size: 13px;
	color: lightskyblue;
}

html body .article .isi a:hover {
	color: #eaeaea;
}

.navbar {
	width: 100%;
	height: 60px;
	border-bottom: 1px solid grey;
	position: fixed;
	top: 0;
	background-color: #0d1117;
	box-sizing: border-box;
	padding: 20px;
}

.navbar .home{
	float: left;
	font-size: 20px;
	font-family: monospace, monospace;
	font-weight: bold;
	color: #eaeaea;
}

.navbar ul li {
	display: inline-block;
	float: right;
	margin: 0 10px;
	font-weight: bold;
}

.navbar ul li a:hover { 
	color: white;
	padding-bottom: 10px;
	border-bottom: 2px solid #eaeaae;
}

.navbar ul li a:active {
	background-color: transparent;
	color: dimgrey;
	padding-bottom: 10px;
	border-bottom: 2px solid dimgrey;
}
.container {
	margin: auto;
	width: 800px;
}

.header {
	margin-top: 100px;
	font-family: monospace, monospace;
	font-size: 50px;
	color: #eaeaea;
	text-align: center;
	border-left: 2px solid #eaeeae;
	border-right: 2px solid #eaeeae;
}

.header p {
	margin-top: 7px;
	font-size: 15px;
}

.content {
	margin-top: 50px;
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
	padding: 10px 10px;
}

.content h4 {
	margin: 10px 0 0 0;
	font-size: 18px;
	color: #eaeaea;
	border-bottom: 1px solid grey;
	display: inline-block;
}

.content .dir {
	font-size: 13px;
	text-align: center;
	line-height: 18px;
	padding: 10px 0;
	font-weight: bold;
}

#searchbar {
	margin: 5.5px 5px;
	float: right;
	border-radius: 20px;
	padding: 0 10px;
	height: 25px;
	border: 1px solid grey;
}

.post {
	width: 100%;
}	


.article {
	margin: 10px 10px;
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
	padding: 10px 0;
}

.article h3 {
	font: 20px/20px monospace,monospace;
	line-height: 25px;
	color: #eaeaea;
	font-weight: bold;
	text-align: center;
}

/*.article p {
	text-align: center;
	font: 14px/18px monospace,monospace;
}*/

.writer {
	text-align: center;
	padding: 5px 0 20px;
	font-size: 13px;
	color: grey;
}

.isi .img1 {
	background-image: url("https://user-images.githubusercontent.com/41558/111915750-1bad8f80-8a78-11eb-951a-d5da1adc2bdc.png");
	width: 440px;
	height: 410px;
	margin: 10px auto;
	border-radius: 10px;
}

.isi .img2 {
	background-image: url(ss1.jpg);
	background-size: cover;
	width: 440px;
	height: 187px;
	margin: 0 auto 10px;
	border-radius: 10px;
	
}

.isi h5 {
	padding: 10px 10px;
	font-size: 16px;
	font-weight: bold;
}

.isi p {
	text-align: left;
	font-size: 14px;
	line-height: 18px;
	padding-bottom: 10px;
	padding-left: 20px;
}


.isi .note {
	padding-left: 10px;
	margin-left: 20px;
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 18px;
	color: grey;
	border-left: 3px solid #eaeaea;
}

.isi ul li {
	margin-left: 20px;
	line-height: 18px;
	font-size: 14px;
	margin-bottom: 10px;
}

.isi .terminal {
	font-size: 13px;
	color: #eaeaea;
	background-color: #161b22;
	display: inline-block;
	line-height: 25px;
	border-left: 5px solid #eaeaea;
	border-radius: 5px;
	margin: 0 40px 10px;
	padding: 10px 20px 10px 10px ;
}

.footer {
	margin: 20px 0;
	text-align: center;
	font-size: 13px;
}

/*	Clearfix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

@media (max-width: 1000px) {
	.container {
		width: 640px ;
	}

	.content h4 {
		font-size: 16px;
	}

	#searchbar {
		height: 21px;
		margin: 6.5px 5px;
	}

	.article h3 a {
		font-size: 17px;
	}

	.article .writer {
		font-size: 10px;
	}

	.article .description {
		font-size: 14px;
	}

}


@media (max-width: 640px) {
	.navbar {
		height: 50px;
		padding: 16px;
	}

	.navbar .home	{
		font-size: 15px;
	}

	.navbar ul li a {
		font-size: 15px;
	}

	.navbar ul li a:hover {
		padding-bottom: 6px;
	}

	.container {
		width: 100%;
		margin-top: 80px;
	}

	.header {
		margin: 0 10px 20px;
		font-size: 30px;

	}

	.header p {
		font-size: 10px;
		margin-top: 5px;
	}

	.content {
		margin: 10px;
	}

	.isi ul li {
		line-height: 18px;
	}

	.isi p {
		line-height: 18px;
	}

	.isi .img1 {
		width: 333px;
		margin: 5px auto;

	}
	.isi .img2 {
		width: 333px;
		height: 145px;
		margin: 0 auto 10px;
	}

}